* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

img {
  float: left;
  padding: 20px 60px;
}

.left-nav {
  float: left;
}

.left-nav ul li {
  display: inline-block;
  padding: 0 5px;
  margin-top: 30px;
}


.right-nav ul li {
  display: inline-block;
  padding: 0 5px;
  margin-top: 30px;
  margin-right: 5px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.right-nav {
  float: right;
  margin-right: 50px;
}

#login a {
  border: 0.5px solid rgb(103, 135, 249);
  padding: 7px;
  border-radius: 3px;
}

#piano a {
  padding: 7px;
  border-radius: 3px;
  background-color: #7fb802;
}

.main-nav::after {
  content: "";
  display: table;
  clear: both;
}

.main-nav {
  background-color: #0D325A;
  text-align: center;
}

.main-title {
  width: 50%;
  float: left;
}

.main-title h2 {
  font-size: 45px;
  font-weight: bold;
  color: white;
  padding-bottom: 40px;
}

.main-title a {
  font-size: 12px;
  font-weight: 600;
  padding: 13px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  background-color: #7fb802;
}

.title {
  padding: 80px 70px;
  background-color: #0D325A;
  /* background-size: 100% 100%; */
}

.title::after {
  content: "";
  display: table;
  clear: both;
}

header {
  padding-bottom: 50px;
  background-color: #0D325A;
}


.first-header {
  background-color: rgb(211, 215, 207);
  text-align: center;
  padding: 40px 0;
}

.first-header h4 {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 500;
  color: rgb(68, 67, 70));
}

.first-header h5 {
  font-size: 18px;
  color: rgb(125, 124, 126);
  font-weight: 400;
}

.container {
  align-items: center;
  text-align: center;
  width: 90%;
  background-color: white;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(198, 190, 199);
}

.box {
  width: 30%;
  align-items: center;
  float: left;
  padding: 23px;
  margin-right: 40px;
}

.box h3 {
  font-size: 23px;
  font-weight: 500;
  color: #7fb802;
}

.box p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8em;
  color: rgb(125, 124, 126);
}

#profile, #pc {
  margin-left: 20px;
  width: 280px;
  height: 200px;
}

#doc {
  width: 280px;
  height:200px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.second-section {
  width: 75%;
  margin-top: 50px;
  padding-bottom: 80px;
}

.big-img img {
  width: 50%;
  float: left;
}

.text {
  width: 40%;
  float:right;
  margin-top: 80px;
}

.text h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(68, 67, 70);
}

.text p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  color: rgb(125, 124, 126);
}

.second-section::after {
  content: "";
  display: table;
  clear: both;
}

.choose-a-plan {
  background-color: rgb(211, 215, 207);
  padding: 40px;
}

.choose-a-plan h3 {
  font-size: 30px;
  color: rgb(68, 67, 70);
  margin-left: 40px;
}

/* .choose-a-plan a {
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  padding: 13px;
  border-radius: 3px;
  color: white;
  background-color: #7fb802;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.choose-a-plan::after {
  content: "";
  display: table;
  clear: both;
/* } */

.blue-section {
  width: 100%;
  background-color: #0D325A;
}

.lesson-text {
  width: 45%;
  float: left;
  margin-top: 50px;
  padding: 60px 80px;
}

.lesson-text h3 {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.lesson-text h3 > span {
  color: rgb(237, 200, 5);
}

.lesson-text p {
  font-size: 18px;
  line-height: 1.8em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(125, 124, 126);
}

.lesson-text a {
  color: rgb(110, 174, 235);
}

#hands {
  width: 95%;
  padding-bottom: 80px;
  border-bottom: 0.3px solid rgb(197, 194, 200);
}

#hands .big-img img {
  margin-top: 50px;
  width: 55%;
}

#hands .text p {
  padding: 20px 0;
  line-height: 1.5em;
}

#real-english {
  padding: 13px;
  font-size: 12px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  background-color: #7fb802;
}

.text span {
  font-size: 13px;
  font-weight: 600;
  color: rgb(149, 210, 230);
}


.pc-img img {
  width: 50%;
  float: right;
  padding: 50px 80px;
  margin-right: 20px;
}

.blue-section::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  display: block;
  width: 50%;
  text-align: center;
  padding-bottom: 80px;
}

.image-section {
  padding-top: 40px;
}

.image-section img {
  width: 100%;
  height: 300px;
  display: block;
}

.wrapper h2 {
  font-size: 30px;
  color: rgb(68, 67, 70);
  font-weight: 600;
}

.wrapper h6 {
  font-size: 14px;
  margin: 10px;
  color: rgb(125, 124, 126);
}

.wrapper p {
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(125, 124, 126);
}

.wrapper a {
  color: rgb(149, 210, 230);
  font-weight: 500;
}

.job-container {
  margin-top: 30px;
  width: 80%;
  padding-bottom: 150px;
}

.job-container h2 {
  text-align: center;
  font-size: 30px;
  color: rgb(68, 67, 70);
}

.structure {
  width: 25%;
  float:left;
  margin-left: 65px;
  margin-top: 80px;
}

.structure h3 {
  padding-top: 50px;
  font-size: 18px;
  color: rgb(68, 67, 70);
  font-weight: 600;
  margin-top: 10px;
}
.structure p {
  font-size: 15px;
  padding: 15px 0;
  color: rgb(125, 124, 126);
  font-weight: 400;
}

.structure hr {
  margin-bottom: 30px;
}

.structure #blue {
  height: 5px;
  background-color: rgb(88, 147, 208);
}

.structure #orange {
  height: 5px;
  background-color: rgb(240, 115, 0);
}

.structure #green {
  height: 5px;
  background-color: #7fb802;
}

.structure #stud {
  color: rgb(88, 147, 208);
  font-size: 16px;
  font-weight: 600;
}

.structure #work {
  color: rgb(240, 115, 0);
  font-size: 16px;
  font-weight: 600;
}

.structure #business {
  color: #7fb802;
  font-size: 16px;
  font-weight: 600;
}

.structure .job {
  width: 40px;
  height: 40px;
  padding: 0;
  display: block;
}

.job-container::after {
  content: "";
  display: table;
  clear:both;
}


.high-footer {
  background-color: #0D325A;
  padding: 40px 80px;
}

.high-footer h2 {
  font-size: 28px;
  color: white;
  font-weight: 600;
}

.high-footer h2 span {
  color: rgb(237, 200, 5);
}

.high-footer h5 {
  margin-top: 5px;
  font-size: 18px;
  color: rgb(105, 106, 110);
  font-weight: 400;
}

.low-footer-container {
  width: 85%;
}

.low-footer {
  background-color: #17406b;
  padding: 60px;
}

.links {
  float: left;
  color: white;
}

.links h5 {
  padding: 5px 0;
}

.links ul li {
  list-style: none;
  padding: 10px 0;
}

.links li a {
  color: rgb(128, 125, 134);
  font-size: 16px;
  font-weight: 500;
}

.copyright {
  float: right;
  color: white;
  text-align: right;
}

.copyright h4 {
  margin: 40px 0 40px 0;
  font-size: 18px;
  font-weight: 600;
}

.copyright p {
  padding: 3px;
  color: rgb(125, 124, 126);
  font-weight: 500;
  font-size: 16px;
}

.low-footer::after {
  content: "";
  display: table;
  clear: both;
}
